.main-container{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-div{
  width: 40%;
}

.list-item{
  display: flex;
  justify-content: space-between;
  border:1px solid black;
  margin:10px 0;
}
